*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-size: 12px;
}

:root{
    --background-principal-gray : #E7ECF4;
    --background-second : #f7f9fb;
    --white : #fff;
    --bleu-side : #324762;
    --gray-fonce: #BBC4D9;
    --bleu-fonce : #3A54AA;
    --box-shadow-principal : box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

body{
    background-color: var(--background-principal-gray);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 24px;
}

ul{
    list-style: none;
}